<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      matButton
      class="btn-rojo"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menuUntels"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      Proveedor
    </button>
  </mat-toolbar>


  <mat-menu #menuUntels="matMenu">
    <button mat-menu-item routerLink=""><mat-icon>add</mat-icon>Registrar</button>
    <button mat-menu-item routerLink="/providers/list"><mat-icon>list</mat-icon>Listar</button>
  </mat-menu>
</div>




